<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/style/index.css">
    <title>Document</title>
</head>

<body>
    <article>
        <header>
            <div class="header-wrapper">
                <h1><a href="/">Forum</a></h1>
                {{ if .User.Username }}
                <div class="user">
                    <a href="/profile">Profile <i class="bi bi-person"></i></a>
                    <a href="/post/create">Create Post<i class="bi bi-pencil-square"></i></a>
                    <a href="/auth/logout">Log-Out <i class="bi bi-box-arrow-right"></i></a>
                </div>
                {{ else }}
                <div class="auth">
                    <a href="/auth/signin" class="sign">Sign-In</a>
                    <a href="/auth/signup" class="sign">Sign-Up</a>
                </div>
                {{ end }}
            </div>
        </header>
        <main>
            <div class="main-wrapper">
                {{ if .User.Username }}
                <div class="filter">
                    <a href="/?time=new">New</a>
                    <a href="/?time=old">Old</a>
                    <a href="/?likes=most">Most Likes</a>
                    <a href="/?likes=least">Least Likes</a>
                </div>
                {{ end }}
                {{ range .Posts }}
                <div class="post">
                    <fieldset>
                        <legend align="right">
                            <h3>{{ .Creater }}</h3>
                        </legend>
                        <div class="post-title">
                            <h3><a href="/post/{{ .Id }}">{{ .Title }}</a></h3>
                        </div>
                        <div class="post-content">
                            {{ .Description }}
                        </div>
                        <div class="post-footer">
                            {{ range .Category }}
                            <a href="/?category={{ . }}" class="tag">{{ . }}</a>
                            {{ end }}
                        </div>
                    </fieldset>
                </div>
                {{ end }}
            </div>
        </main>
        <footer>
            <div class="footer-wrapper">
                <div class="footer-header"></div>
                <div class="footer-body"></div>
                <div class="footer-footer"></div>
            </div>
        </footer>
    </article>
    <script src="/static/script/index.js"></script>
</body>

</html>