<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style/register.css">
    <title>Document</title>
</head>

<body>
    <a href="/">Home</a>
    <form action="/auth/signup" method="post" autocomplete="off">
        <h1>Sign Up</h1>
        <p>
            <label for="Email">Email</label>
            <input id="Email" type="email" class="email" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
        </p>
        <p>
            <label for="Username">Username</label>
            <input id="Username" type="text" class="username" name="username" required pattern="[\x21-\x7e]{4,36}" title="Must contain 4-36 characters">
        </p>
        <p>
            <label for="Password">Password</label>
            <input id="Password" type="password" class="password" oninput="func()" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,254}" title="Must contain at least one number and one uppercase and lowercase letter, and 8-32 characters" required>
        </p>
        <p>
            <label for="ConfirmPassword">Confirm Password</label>
            <input id="ConfirmPassword" type="password" class="password" oninput="func()" name="verifyPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,254}" title="Must contain at least one number and one uppercase and lowercase letter, and 8-32 characters" required>
        </p>
        <button>Create Account</button>
    </form>
    <p>Sign-In if you have an account</p>
    <a href="/auth/signin">Sign In</a>
    <script src="/static/script/register.js"></script>
</body>

</html>