<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/style/user.css">
    <link rel="icon" type="image/png" href="/static/favicon/favicon.png">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/61ebb60581.js" crossorigin="anonymous"></script>
</head>

<body>
    <article>
        <header>
            <div class="header-wrapper">
                <h1><a href="/">Forum</a></h1>
                {{ if .User.Username }}
                <div class="user-header">
                    <button onclick="showModal('notification')" class="notify"><i class="bi bi-bell"></i></button>
                    <div id="notification" class="modal" onclick="closeModal('notification')">
                        <div class="modal-content">
                            <div class="modal-header">Notifications<span class='close'
                                    onclick='closeModal("notification")'></span></div>
                            <div class="modal-body">
                                {{ range .Notifications }}
                                <span><a href="/profile/{{ .From }}?posts=created">{{ .From }}</a> {{ .Description
                                    }} <a href="/post/{{ .PostId }}">{{ .PostId }}</a></span>
                                {{ else }}
                                <span>No notifications for you</span>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                    {{ if ne .User.Username .ProfileUser.Username }}
                    <a href="/profile/{{ .User.Username }}?posts=created">Profile <i class="bi bi-person"></i></a>
                    <a href="/post/create">Create Post<i class="bi bi-pencil-square"></i></a>
                    <a href="/auth/logout">Log-Out <i class="bi bi-box-arrow-right"></i></a>
                    {{ end }}
                </div>
                {{ else }}
                <div class="auth">
                    <a href="/auth/signin" class="sign">Sign-In</a>
                    <a href="/auth/signup" class="sign">Sign-Up</a>
                </div>
                {{ end }}
            </div>
        </header>
        <main>
            <div class="main-wrapper">
                <div class="main-card">
                    <div class="card">
                        <div class="card-header">
                            <i class="bi bi-person-circle"></i>
                            <h1>{{ .ProfileUser.Username }}</h1>
                        </div>
                        <div class="card-about">
                            <h3>{{ .ProfileUser.Email }}</h3>
                            <h1>User</h1>
                        </div>
                        <div class="card-info">
                            <div class="info">
                                <i class="fa fa-pen"></i>
                                <p>{{ .ProfileUser.CountOfPosts }}</p>
                            </div>
                            <div class="info">
                                <i class="fa fa-thumbs-up"></i>
                                <p>{{ .ProfileUser.CountOfLikes }}</p>
                            </div>
                            <div class="info">
                                <i class="fa fa-comment"></i>
                                <p>{{ .ProfileUser.CountOfComments }}</p>
                            </div>
                        </div>
                    </div>
                    {{ if eq .User.Username .ProfileUser.Username }}
                    <div class="user">
                        <a href="/profile/{{ .User.Username }}?posts=created">Profile<i class="bi bi-person"></i></a>
                        <a href="/post/create">Create Post<i class="bi bi-pencil-square"></i></a>
                        <a href="/auth/logout">Log-Out<i class="bi bi-box-arrow-right"></i></a>
                    </div>
                    {{ end }}
                </div>
                <div class="main-body">
                    <div class="filter-posts">
                        <a href="/profile/{{ .ProfileUser.Username }}?posts=created">Created Posts</a>
                        <a href="/profile/{{ .ProfileUser.Username }}?posts=liked">Liked Posts</a>
                        <a href="/profile/{{ .ProfileUser.Username }}?posts=commented">Commented Posts</a>
                    </div>
                    {{ range .Posts }}
                    <div class="post">
                        <fieldset>
                            <legend align="right">
                                <h3>{{ .Creater }}</h3>
                            </legend>
                            <div class="post-title">
                                <h3><a href="/post/{{ .Id }}">{{ .Title }}</a></h3>
                            </div>
                            <div class="post-content">
                                {{ .Description }}
                            </div>
                            <div class="post-footer">
                                {{ range .Category }}
                                <a href="/?category={{ . }}" class="tag">{{ . }}</a>
                                {{ end }}
                            </div>
                        </fieldset>
                    </div>
                    {{ end }}
                </div>
            </div>
        </main>
        <footer>
            <div class="footer-wrapper">
                <div class="footer-header"></div>
                <div class="footer-body"></div>
                <div class="footer-footer"></div>
            </div>
        </footer>
    </article>
    <script src="/static/script/modal.js"></script>
</body>

</html>