* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    gap: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

a {
    text-decoration: none;
    color: #353636;
    padding: 10px 15px;
    border: 2px solid #353636;
    transition: all .1s linear;
}

a:hover {
    background-color: #353636;
    color: #fff;
}

form {
    background-color: #353636;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 2em 4em;
    width: 50%;
    max-width: 1000px;
}

form>h1 {
    margin: 0 0 50px 0;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #fff;
}

form>p {
    margin: 0 0 3em 0;
    position: relative;
}

form>p>label {
    position: absolute;
    left: 8px;
    top: -12px;
    color:#fff;
    font-size: 16px;
    display: inline-block;
    padding: 4px 10px;
    font-weight: 400;
    background-color: #353636;
}

form>p>input, textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    margin: 0;
    background: #353636;
    border: 1px solid #fff;
    font-size: 20px;
    color: #fff;
    padding: .8em .5em;
}

form>p>textarea {
    height: 200px;
    resize: none;
}

.category {
    display: none;
}

.shown-categories {
    display: flex;
    column-gap: 10px;
}

.tag {
    border: 2px solid #fff;
    padding: 5px 10px;
    transition: all .1s linear;
}

.tag:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.tag .close::after {
    content: '\00d7';
    font-weight: bold;
    display: inline-block;
    transform: scale(1.4);
    margin-left: 0.5em;
}

.close:hover {
    cursor: pointer;
}

form>button {
    all: unset;
    cursor: pointer;
    border: 2px solid #fff;
    padding: 10px 15px;
    margin: 0 auto;
    transition: all .1s linear;
}

form>button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
