* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    transition: all .1s linear;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .5);
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
}

.modal-content {
    width: 50%;
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    border-radius: 10px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #353636;
}

.close {
    color: #353636;
}

.close::after {
    content: '\00d7';
    cursor: pointer;
    font-size: 30px;
}

.close:hover {
    color: rgb(0, 0, 0);
}

.notify {
    all: unset;
    cursor: pointer;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 15px;
    transition: all .1s linear;
    max-width: fit-content;
}

.notify:hover {
    background-color: #fff;
    color:#353636;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    word-wrap: break-word;
    line-height: 25px;
}

.modal-body a {
    border-bottom: 2px dotted #000;
}

body {
    height: 100vh;
}

article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: #353636;
    padding-bottom: 150px;
}

.header-wrapper {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

@media screen and (max-width:1000px) {
    .header-wrapper{
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
    }
}

.header-wrapper>h1>a {
    color:#fff;
}

.user-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.user-header>a {
    color:#fff;
    background-color: #353636;
    border: 1px solid #fff;
    padding: 10px 15px;
    display: flex;
    gap: 20px;
}

.user-header>a:hover {
    background-color: #fff;
    color: #353636;
}

.user {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.user>a {
    color:#353636;
    background-color: #fff;
    border: 1px solid #353636;
    padding: 10px 15px;
    display: flex;
    gap: 20px;
}

.user>a:hover {
    background-color: #353636;
    color: #fff;
}

.auth {
    display: flex;
    justify-content: center;
    gap: 25px;
    min-width: 300px;
}

.sign {
    color:#fff;
    border: 1px solid #fff;
    padding: 10px 15px;
    transition: all .1s linear;
}

.sign:hover {
    color: #000;
    background-color: #fff;
}

.main-card {
    width: 40%;
    min-width: 250px;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    top: -150px;
}

.card {
    background-color: #353636;
    box-shadow: 0 0 30px #000;
    margin-bottom: 50px;
}

.card-header {
    height: 200px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card-header>i {
    font-size: 100px;
}

.card-header>h1 {
    font-size: 30px;
}

.card-about {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 25px;
    padding-bottom: 20px;
    border-bottom: 2px solid #fff;
}

.card-info {
    display: flex;
    justify-content: space-around;
    color: #fff;
    padding: 20px 0;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-weight: bold;
    font-size: 20px;
}

.info>i {
    font-size: 25px;
}

.main-body {
    position: relative;
    top: -150px;
}

.main-wrapper {
    width: 80%;
    max-width: 1500px;
    margin: 0 auto;
}

.filter-posts {
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
}

.filter-posts>a {
    border: 1px solid #353636;
    padding: 10px 15px;
}

.filter-posts>a:hover {
    color: #fff;
    background-color: #353636;
}

.post {
    width: 80%;
    max-width: 1500px;
    margin: 20px auto;
}

fieldset {
    padding: 10px;
}

legend {
    margin-right: 20px;
}

.post-title {
    word-break: break-all;
}

.post-content {
    /* max-width: 100%; */
    word-wrap: break-word;
    height:50px;
    line-height:50px;
    word-break:break-all;
    overflow: hidden;
}

.post-footer {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    border: 1px solid black;
    padding: 2px 5px;
    margin: 5px;
    transition: all .1s linear;
}

.tag:hover {
    background-color: black;
    color: #fff;
}

footer {
    background-color: lightgray;
    height: 100px;
}